@import url("https://use.typekit.net/lrw7ati.css");

:root  {
    --darkBlack: #212121;
    --solidBlack: #151515;
    --lightBlue: #9BDBFC;
    --lightBrown: #c0a670;
    --lightPink: #DA6FD5;
    --lightGreen: #A7BC9B;
    --lightYellow: #FAD300;
    --darkBrown: #BC856F;
    --pearlWhite: #fafafa;
    --errorRed: #cc2e2e;
    --lightGray: #7b7b7b;

    --courier: "Courier New", Courier, monospace;
    --arial: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

button {
    background-color: transparent;
    border: none;
}

h1{
    font-family: var(--courier);
    font-size: 2rem;
    font-weight: 300;
    color: var(--lightBlue);
}

h2{
    font-family: var(--courier);
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--lightBlue);
}

h3{
    font-family: var(--courier);
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--lightBlue);
}

h4{
    font-family: var(--courier);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--lightBlue);
}

h5{
    font-family: var(--courier);
    font-size: 1rem;
    font-weight: 700;
    color: var(--lightBlue);
}

h6{
    font-family: var(--arial);
    font-size: 1rem;
    font-weight: 700;
    color: var(--pearlWhite);
}

p{
    font-family: var(--arial);
    font-size: 1rem;
    font-weight: 200;
    color: var(--pearlWhite);
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

a{
    text-decoration: none;
    color: var(--lightPink);
}

body {
    font-family: var(--courier);
    background-color: var(--darkBlack);
    color: var(--pearlWhite);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 100%;
}



main {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 150px;
    min-height: 100vh;
    margin-left: 222px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: var(--solidBlack);
    margin-left: 222px;
    margin-top: 100px;
}

footer a {
    color: var(--lightBlue);
    text-decoration: none;
    font-family: var(--courier);
    font-size: 1rem;
    font-weight: 200;
    margin: 0 10px;
}

footer a:hover {
    font-weight: 500;
    text-decoration: underline;
}

/*NAVIGATION*/

nav{
    background-color: var(--matteBlack);
    width: 222px;
    height: 100%;
    padding-left: 30px;
    padding-top: 30px;
    position: fixed;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.topNav{
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: var(--darkBlack);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-left: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 500;
}

.topNav img{
    max-width: 150px;
}

.topNav a{
    font-size: 1.3rem;
    margin-right: 10px;
    color: var(--lightBlue);
}

.topNav a:hover{
    font-weight: 500;
    color: var(--lightPink);
}

.hamburgerNav {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    z-index: 111;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
}

.hamburgerToggle{
    width: 100%;
    min-height: 300px; 
    z-index: 110;
    position: fixed;
    box-shadow:  0 0 20px rgba(0,0,0,0.5);
    background-color: var(--darkBlack);
    box-sizing: border-box;
}

.hamburgerContentMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    line-height: 3rem;
    font-size: 1.5rem;
    display: none;
}

.hamburgerContentBigger{
    display: none;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: start;
    grid-gap: 100px;
    width: 830px;
    height: 300px;
    padding: 50px;
}

.hamburgerContentBigger a{
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 200;
    text-decoration: none;
}

#hamburgerCategories{
    color: var(--lightPink);
}



.hamburgerContent{
    display: flex;
    flex-direction: column;
}

.hamburgerNav svg{
    max-width: 100%;
    max-height: 100%;
}

  .line {
    fill: none;
    stroke: var(--lightPink);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }



nav img {
    max-width: 150px;
    margin-bottom: 100px;
}

.navContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.navContainer h2{
    font-family: var(--courier);
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--lightBlue);
}

.navContainer a{
    font-family: var(--courier);
    font-size: 1rem;
    font-weight: 200;
    color: var(--lightBlue);
    text-decoration: none;
    margin-bottom: 5px;
}

#categories {
    color: var(--lightPink);
}

#lightBlue h4{
    color: var(--lightBlue);
}

#lightBlue a{
    color: var(--lightBlue);
}

#lightYellow h4{
    color: var(--lightYellow);
}

#lightYellow a{
    color: var(--lightYellow);
}

.navContainer a:hover {
    font-weight: 500;
    text-decoration: underline;
}

/*INDEX*/

.indexHero{
    background-image: url('https://wpsite.codecrush.no/wp-content/uploads/2023/04/1677583559900-1.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    margin-top: -150px;
}

.indexHeroContent{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    position:inherit;
    width: 430px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.indexHeroContent h1{
    font-family: var(--courier);
    font-size: 2rem;
    font-weight: 700;
    color: var(--lightBlue);
    text-align: center;
    padding: 10px;
}

.indexHeroContent p{
    font-family: var(--courier);
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--lightBlue);
}

.indexHeroContent a{
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px; 
    position: relative;
    top: 70px;
    left: 60px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: var(--darkBlack);
    font-size: 1.2rem;
    border: none;
    text-decoration: none;
    font-family: var(--courier);
    box-sizing: border-box;
    background: linear-gradient(90deg,var(--lightBlue),var(--lightPink),var(--lightYellow),var(--lightBlue));
    background-size: 400%;
    cursor: pointer;
}

.indexHeroContent a:hover
{
    animation: animate 8s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

.indexHeroContent a:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    background: linear-gradient(90deg,var(--lightBlue),var(--lightPink),var(--lightYellow),var(--lightBlue));
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 1s;
}

.indexHeroContent a:hover:before
{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.indexInformation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.informationGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 100px;
    width: 80%;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}

.btnContainer a{
    background-color: var(--lightPink);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    min-width: 150px;
    color: var(--darkBlack);
    font-weight: 500;
    justify-content: center;
    display: flex;
    margin-right: 50px;
}

#btnYellow{
    background-color: var(--lightYellow);
}

.grid-left img{
    max-width: 400px;
}

.grid-left{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.grid-left h1{
    margin-bottom: 20px;
    margin-left: 20px;
}

.grid-right{
    box-shadow:  0 0 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-right p{
    color: var(--lightBlue);
    font-family: var(--courier);
    font-size: 1.2rem;
}

.btnContainer a:hover{
    font-weight: 700;
}

/*SEARCH BAR*/

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.searchBar input {
    width: 82%;
    height: 20px;
    padding: 20px;
    background-color: var(--solidBlack);
    border: none;
    border-radius: 10px;
    font: var(--courier);
    color: var(--pearlWhite);
    box-sizing: border-box;
}

.searchBar input::placeholder {
    color: var(--lightPink);
    font-family: var(--courier);
    font-size: 0.8rem;
    font-weight: 200;
}

.searchBar input:focus {
    outline: var(--lightPink);
    outline-style: solid;
    outline-width: 1px;
}

.searchBar button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: -60px;
}

.searchBar button img{
    max-width: 20px;
}


/*CAROUSEL*/

.carouselHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}

.carouselBtnContainer img{
    max-width: 10px;
    margin: 0 10px;
    cursor: pointer;
}
    

.carouselContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.carouselImg{
    min-width: 350px;
    min-height: 300px;
    background-image: url('https://wpsite.codecrush.no/wp-content/uploads/2023/04/1677583559900-1.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.carouselItem{
    min-width: auto;
    padding: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    text-decoration: none;
}

.carouselCategories a {
    text-decoration: none;
    color: var(--lightPink);
}

.carouselCategories a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.carouselItem:hover{
    background-color: var(--solidBlack);
    cursor: pointer;
}

.carousel{
    display: inline-flex;
    overflow: hidden;
    width: 80%;
    margin-bottom: 50px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    transition:  transform 0.2 ease-in-out;
}

 .carouselTrack{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

/*ALL BLOGS*/

.blogsHead{
    width: 100%;
    padding-left: 10%;
    margin-bottom: -30px;
}

.categoryContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.categoryItems a{
    text-decoration: none;
    color: var(--lightPink);
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    min-width: 150px;
    border-style: solid;
    font-weight: 700;
    margin: 10px;
}

.categoryItems a:hover{
    cursor: pointer;
    color: var(--darkBlack);
}

.categoryItems{
    width: 80%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

#btn-1 {
    color: var(--lightPink);
    border-color: var(--lightPink);
}

#btn-2 {
    color: var(--lightYellow);
    border-color: var(--lightYellow);
}

#btn-3 {
    color: var(--lightGreen);
    border-color: var(--lightGreen);
}

#btn-4 {
    color: var(--lightBlue);
    border-color: var(--lightBlue);
}

#btn-5 {
    color: var(--darkBrown);
    border-color: var(--darkBrown);
}

#btn-6 {
    color: var(--lightBrown);
    border-color: var(--lightBrown);
}

#btn-1:hover {
    background-color: var(--lightPink);
    border-color: var(--lightPink);
    color: var(--darkBlack);
}

#btn-2:hover {
    background-color: var(--lightYellow);
    border-color: var(--lightYellow);
    color: var(--darkBlack);
}

#btn-3:hover {
    background-color: var(--lightGreen);
    border-color: var(--lightGreen);
    color: var(--darkBlack);
}

#btn-4:hover {
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
    color: var(--darkBlack);
}

#btn-5:hover {
    background-color: var(--darkBrown);
    border-color: var(--darkBrown);
    color: var(--darkBlack);
}

#btn-6:hover {
    background-color: var(--lightBrown);
    border-color: var(--lightBrown);
    color: var(--darkBlack);
}

.allPosts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postsContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    overflow: hidden;
    width: 80%;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    transition:  transform 0.2 ease-in-out;
    margin-bottom: 50px;
}

.postContainer{
    padding: 10px;
}

.postContainer:hover{
    background-color: var(--solidBlack);
    cursor: pointer;
}

.postContainer a{
    font-size: 0.8rem;
}

.seeMoreContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeMoreContainer button{
    background-color: transparent;
    text-decoration: underline;
    color: var(--lightPink);
    padding: 10px;
    cursor: pointer;
    font: var(--courier);
}

.seeMoreContainer button:hover{
    font-weight: 700;
}


/*POSTS*/

.postImg{
    min-width: 200px;
    min-height: 200px;
    background-image: url('https://wpsite.codecrush.no/wp-content/uploads/2023/04/1677583559900-1.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.postHead{
    width: 100%;
    background-image: url('');
    height: 450px;
    margin-top: 100px;
    background-size: cover;
    background-position: center;
}

.postsNavHide{
    margin-left: -300px;
    background-color: var(--darkBlack);
    z-index: 600;
}

.postsNavHide button{
    border-color: var(--lightPink);
    color: var(--lightPink);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    font-family: var(--courier);
    font-weight: 700;
}

.postsNavHide button:hover{
    background-color: var(--lightPink);
    color: var(--darkBlack);
    cursor: pointer;
}

.postsMain{
    padding-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.postFooter{
    margin: 0;
}

.menuBtn{
    position: fixed;
    z-index: 200;
    background-color: var(--darkBlack);
    left: -25px;
    top: 290px; 
    rotate: 90deg;
    padding: 15px;
    width: 100px;
    color: var(--lightPink);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.menuBtn:hover{
    cursor: pointer;
}

.postHeadContent{
    width: 400px;
    height: 200px;
    background-color: var(--darkBlack);
    z-index: 300;
    position: absolute;
    left: 100px;
    padding: 20px;
}

.postHeadContent p{
    font-family: var(--courier);
    font-size: 1rem;
    font-weight: 200;
    line-height: 3rem;
}

.postHeadContent a:hover{
    text-decoration: underline;
    cursor: pointer;
}



#blue{
    color: var(--lightBlue);
}

#yellow{
    color: var(--lightYellow);
}

#pink{
    color: var(--lightPink);
}

#green{
    color: var(--lightGreen);
}

.blogPost{
    margin-top: 50px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blogPost h1{
    text-align: center;
    margin-bottom: 40px;
}

.blogContent{
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


.blogContent p{
    line-height: 1.8rem;
    margin: 0px 0 30px 0;
}

figure img{
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}

figcaption{
    background-color: var(--darkBlack);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    padding: 10px;
    font-style: italic;
    font-size: 0.8rem;
}

 blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

blockquote p{
    font-family: var(--courier);
    font-size: 1.7rem;
    text-align: center;
    color: var(--lightPink);
}

pre {
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    font-size: 0.8rem;
    min-height: 250px;
}

.rt-reading-time{
    color: var(--lightYellow);
}

.wp-block-buttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-content: center;
    justify-content: right;
    background-color: var(--solidBlack);
    padding: 10px;
    margin-bottom: -1px;
    width: 100%;
}

.postLike{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 100%;
}

.blogpostLike{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: var(--solidBlack);
    width: 80%;
    padding: 20px;
}

.blogpostLike img{
    max-width: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.blogpostLike h4{
    font-weight: 300;
    color: var(--lightPink);
    text-align: center;
}

/*MODAL*/


.thumbnail {
    max-width: 100%;
    height: auto;
    
  }

.thumbnail:hover {
    cursor: pointer;
  }

.modal{
    display: absolute;
    position: fixed;
    z-index: 998;
    padding: 20px;
    text-align: center;
    top: 5%;
    left: 6%;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}


.close {
    color: #fff;
    position: fixed;
    top: 7%;
    right: 6%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    display: none;
}

/*CONTACT*/
.contact{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: start;
    justify-content: center;
    margin-top: -100px;
}

.contactContent, .aboutContent{
    min-width: 60%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow:  0 0 20px rgba(0,0,0,0.5);
    background-color: var(--darkBlack);
    padding: 100px;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
}

form input{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--solidBlack);
    color: var(--lightPink);
    font-family: var(--courier);
    font-size: 1rem;
}



form input::placeholder{
    color: var(--lightPink);
    font-family: var(--courier);
    font-size: 0.8rem;
    font-weight: 200;
}

form textarea{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--solidBlack);
    color: var(--lightPink);
    font-family: var(--courier);
    font-size: 1rem;
}

form textarea::placeholder{
    color: var(--lightPink);
    font-family: var(--courier);
    font-size: 0.8rem;
    font-weight: 200;
}

#inputbtn{
    background-color: var(--solidBlack);
    border: none;
    cursor: pointer;
    color: var(--lightPink);
    font-family: var(--courier);
    font-size: 1rem;
    font-weight: 700;
}

#inputbtn:hover{
    background: var(--lightPink);
    color: var(--solidBlack);
}

form h2{
    margin-bottom: 20px;
    font-size: 1.8rem;
}

form label{
    color: var(--pearlWhite);
    margin-bottom: 5px;
}

input:focus {
    outline: var(--lightPink);
    outline-style: solid;
    outline-width: 1px;
}

textarea:focus {
    outline: var(--lightPink);
    outline-style: solid;
    outline-width: 1px;
}

input[type="text"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: var(--solidBlack);
}

#nameError, #emailError, #messageError, #subjectError{
    color: var(--errorRed);
    font-size: 0.8rem;
    margin-bottom: 10px;
}

#submitButton:hover{
    color: var(--darkBlack);
    background-color: var(--lightPink);
    cursor: pointer;
}

/*ABOUT*/

.about{
    width: 100%;
    height: 100%;
}

.aboutGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.aboutLeft img{
    max-width: 300px;
    margin-bottom: 50px;
}

.aboutLeft p{
    color: var(--lightBlue);
    font-family: var(--courier);
    font-size: 1.5rem;
    max-width: 350px;
    margin-bottom: 30px;
}

.aboutLeft{
    margin-bottom: 50px;
}

.aboutLeft a{
    background-color: var(--lightPink);
    border-radius: 10px;
    color: var(--darkBlack);
    text-decoration: none;
    font-family: var(--courier);
    padding: 10px;
    max-width: 350px;
}

.aboutLeft a:hover{
    font-weight: 700;
    background-color: var(--lightYellow);
}

.aboutRightContent{
    max-width: 400px;
}

/*CATEGORIES*/

.categoriesHead{
    width: 100%;
    padding-left: 180px;
}


.categoryPosts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoryPostContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
    padding: 20px;
}

.categoryPostItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    width: 100%;
}

.categoryPostItem:hover{
    background-color: var(--solidBlack);
    cursor: pointer;
}

.categoryPostItem img{
    max-width: 200px;
    padding-right: 20px;
}

.line{
    width: 100%;
    background-color: var(--solidBlack);
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}





  










  









@media screen and (max-width: 1440px) {
    .postsContainer{
        grid-template-columns: auto auto auto;
    }
    .grid-left img {
        max-width: 350px;
    }

    .grid-right{
        min-width: 350px;
    }
}


@media screen and (max-width: 834px) {
    main {
        margin-left: 0;
        padding-top: 0;
        margin-top: 0;
    }

    .menuBtn{
        display: none;
    }

    .topNav{
        display: none;
    }

    .postHead{
        margin-top: 0;
    }

    .blogContent{
        padding: 30px;
    }

    footer {
        margin-left: 0;
    }

    nav {
        display: none;
    }

    .postsContainer{
        grid-template-columns: auto auto;
    }

    .hamburgerNav{
        display: block;
    }

    .indexHero{
        margin-top: 0;
    }

    .hamburgerContentBigger{
        display: flex;
    }

    .categoryContainer{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .categoryItems{
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .categoryItems a{
        max-width: 10px;
        padding: 5px;
        margin: 10px;
    }

    .blogsHead{
        margin-top: 70px;
        padding-left: 12%;
    }

    .postHeadContent{
        display: none;
    }

    .informationGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    }

    .contact{
        margin-top: 50px;
    }

    .contactContent{
        width: 80%;
    }

    form{
        width: 90%;
    }
   
}

@media screen and (max-width: 500px) {
    .postContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .postImg{
        min-width: 100px;
        min-height: 100px;
        margin-right: 20px;
        
    }

    .postsContainer {
        grid-template-columns: auto;
    }
    
}
    


@media screen and (max-width: 390px) {
    .hamburgerContentBigger{
        display: none;
    }
    
    .hamburgerContentMobile{
        display: flex;
    }

    .indexHeroContent {
        width: 100%;
        height: 390px;
    }

    .searchBar input {
        margin-top: 50px;
    }

    .indexHeroContent h1{
        font-size: 2rem;
        padding: 20px;
    }

    .indexHeroContent a{
        top: 50px;
        left: 17%;
        transform: translate(-50%,-50%);
    }

    .carouselImg{
        min-width: 270px;
        min-height: 250px;
    }

    .carouselItem{
        min-width: 100%;
        padding: 20px;
        margin-right: 5px;
    }

    footer{
        display: none;
    }

    .blogsHead{
        margin-top: 50px;
    }

    .searchBar{
        margin-top: 20px;
    }

    .searchBar input{
        margin-left: -40px;
    }

    .searchBar img {
        max-width: 15px;
        margin-top: 50px;
    }

    .categoryItems{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .categoryItems a{
        margin: 5px;
        max-width: 50px;
        font-size: 0.8rem;
    }

    .blogPost h1{
        max-width: 350px;
    }

    .indexInformation{
        margin-bottom: 50px;
    }

    .informationGrid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-gap: 10px;
        justify-content: center;
        align-content: center;
        width: 80%;
    }

    .grid-left {
        max-width: 300px;
    }

    .btnContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: fit-content;
        margin-bottom: 20px;
    }

    #contactForm{
        width: 250px;
    }
    
}
    





